.primary-header {
  position: fixed;
  background: hsl(var(--clr-grey));
  z-index: 99;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 5%;
  transform: translateY(0);
  transition: all 0.2s linear;

  &.scrolled-top {
    background: hsl(var(--clr-grey), 0.5);
    box-shadow: 0 10px 30px -10px hsl(var(--clr-grey-dark));
    backdrop-filter: blur(10px);
  }
  &.scrolled-bot {
    transform: translateY(-100%);
  }
}
