.mobile-nav-toggle {
  position: relative;
  z-index: 99;
  border: none;
  background: none;
  width: 2rem;
  height: 2rem;
  &::after,
  &::before {
    content: '';
    position: absolute;
    left: 0;
    height: 10%;
    width: 100%;
    background: hsl(var(--clr-red));
    transform-origin: middle;
    transition: all 500ms ease-in-out;
  }
  &::after {
    bottom: 20%;
  }
  &::before {
    top: 20%;
  }

  &.opened {
    &::before {
      top: 50%;
      transform: translateY(-0.1rem) rotateZ(45deg);
    }
    &::after {
      bottom: 50%;
      transform: translateY(0.1rem) rotateZ(-45deg);
    }
  }

  @media (min-width: $screen-md-min) {
    display: none;
  }
}

.btn {
  position: relative;
  color: hsl(var(--clr-red));
  display: grid;
  border: none;
  background: hsl(var(--clr-grey));
  border-radius: 4px;
  padding: 0.4rem 1rem;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: -2px;
    z-index: -2;
    border-radius: inherit;
    background: linear-gradient(
      to right,
      hsl(var(--clr-red)),
      hsl(var(--clr-green))
    );
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    border-radius: inherit;
    background: hsl(var(--clr-grey));
  }
  &:hover,
  &:focus {
    background: linear-gradient(
      to right,
      hsl(var(--clr-red), 0.2),
      hsl(var(--clr-green), 0.2)
    );
    outline: none;
  }
}
